.container {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
  background-position: center;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  margin: 10px;
  padding: 5px;
  max-width: 220px;
  min-width: 170px;
  background-color: white;
  border: 3px solid #222222;
  border-radius: 20px;
  color: #222222;
  -webkit-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  -moz-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  transition: box-shadow linear 300ms;
}

.card:hover, input:hover, input:focus, .back-btn:hover, .back-btn:focus {
  -webkit-box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
  -moz-box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
  box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
}

input:focus, .back-btn:focus, .back-btn:hover {
  border-color: steelblue;
}

.card h2 {
  font-size: 30px;
  margin: 10px;
}

.card h2, .card h3 {
  text-align: center;
}

.card img {
  width: 200px;
  border-radius: 15px;
  border: 1px solid #222222;
  display: block;
  margin: 0 auto;
}

.detail{
  padding: 5px;
  display: flex;
  font-size: 16px;
}

.detail .key{
  flex: 0 0 100px;
  font-weight: 700;
}

.detail .value .link {
  color: rgb(3, 80, 143);
  text-decoration: none;
}

.center {
  text-align: center;
  width: 100%;
  font-weight: 600;
}