.continents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  margin: 10px;
  padding: 5px;
  max-width: 220px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: 3px solid #222222;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  -moz-box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  box-shadow: 2px 4px 25px -4px rgba(0,0,0,0.72);
  transition: box-shadow linear 300ms;
}

.card:hover {
  -webkit-box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
  -moz-box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
  box-shadow: 2px 4px 15px -4px rgba(0,0,0,0.72);
}

.card:focus {
  border-color: steelblue;
}

.card h2, .card h3 {
  text-align: center;
  color: #222222;
}

.card h3 {
  margin: 10px 0px;
}

.card img {
  width: 200px;
  border-radius: 15px;
}